/target
/node
/node_modules
/bower_components
/release.properties
/pom.xml.releaseBackup
*.iml
  <<<<<<< fix/dependencies-and-travis
.idea
  =======
.idea
.vscode
.settings
.classpath
.project
  >>>>>>> fix/issue-14-decoding-two-encoded-chars
